.randomNumber {
    font-size: 3em;
}

.braille {
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

#generateNext, #clear {
    margin-top: 50px;
}

#randomNumber {
    margin-top: 50px;
}

#chooseLevel {
    margin-top: 15px;
    font-size: 2em;
}

#logo {
    color: white;
    position: absolute;
    font-size: 2em;
}

#move-nav {
    float: right !important;
}

@media only screen and (max-width: 770px) {
  #logo {
    position: relative;
  }
}
