<div class="container">
    <h2 class="row justify-content-center">Choose a level</h2>
    <div class="row justify-content-center">
        <button>Easy</button>
        <button>Medium</button>
        <button>Hard</button>
    </div>

    <span class="row justify-content-center" id="randomNumber">Ready?</span>
    <div class="row justify-content-center"><button id="generateRand">Random</button><div>
</div>

<script src="javascripts/index.js"></script>
		
