<div class="row justify-content-center">

<div class="row justify-content-center">
    <span id="randomNumber" class="randomNumber"></span>
</div>
<div class="container">
    <div class="row justify-content-center">
        <span id="83" class="braille inactive"></span>
        <span id="76" class="braille inactive"></span>
    </div>
    <div class="row justify-content-center">
        <span id="68" class="braille inactive"></span>
        <span id="75" class="braille inactive"></span>
    </div>
    <div class="row justify-content-center">
        <span id="70" class="braille inactive"></span>
        <span id="74" class="braille inactive"></span>
    </div>
</div>
<div class="row justify-content-center">
    <button id="clear">Clear</button>    
    <button id="generateNext" autofocus>Enter</button>
</div>

<script src="javascripts/explore.js"></script>
