<div class="container">
    <span class="row justify-content-center" id="randomNumber">Start Game?</span>
    <div class="row justify-content-center"><button id="generateRand">Random</button><div>
</div>

<script src="javascripts/index.js"></script>
		
