<div class="container">
    <p class="row justify-content-center" style="margin-top: 15px">Please watch video to learn how to use our website!</p>
    <p class="row justify-content-center">
        <video width="400" height="500" controls>
          <source src="mov_bbb.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
    </p>

    <div class="container">
        <h3 class="row justify-content-center">Meet our creators!</h3>
        <div class="jutify-content-between">
        <div class="row">
            <div class="col-6 text-center container-flex">
                <img src="images/nikita.JPG">
                <h4>Nikita Jerschow</h4>
            </div>
            <div class="col-6 text-center container-flex">
                <img src="images/andres.jpg">
                <h4>Andrés Guarneros</h4>
            </div>
        </div>
    </div>

</div>
