<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/index.css">
        <title>Learn Braille Today!</title>
    </head>
    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span id="logo">Learn Braille</span>
            

            <div class="row justify-content-center" >
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" href="#">Learn</a>
            </div>
        </nav>

        <div class="container"> 
            <h1 class="row justify-content-center">Learn Braille</h1>
        </div>
        
        {{{body}}}

    </body>

</html>
