
<div class="container">


<p class="row justify-content-center" id="chooseLevel">Choose your level!</p>
<div class="row justify-content-center">
    <button id="easy" class="level">Easy</button>
    <button id="medium" class="level">Medium</button>
    <button id="hard" class="level">Hard</button>
</div>
<div class="row justify-content-center">
    <span id="randomNumber" class="randomNumber"></span>
</div>
<div class="container">
    <div class="row justify-content-center">
        <span id="83" class="braille"></span>
        <span id="76" class="braille"></span>
    </div>
    <div class="row justify-content-center">
        <span id="68" class="braille"></span>
        <span id="75" class="braille"></span>
    </div>
    <div class="row justify-content-center">
        <span id="70" class="braille"></span>
        <span id="74" class="braille"></span>
    </div>
</div>
<div class="row justify-content-center">
    <button id="clear">Clear</button>    
    <button id="generateNext">Enter</button>
</div>

<script src="javascripts/index.js"></script>
