<div class="container">

<p class="row justify-content-center" id="chooseLevel">Choose your level!</p>
<div class="row justify-content-center">
    <button id="easy" class="level">Easy</button>
    <button id="medium" class="level">Medium</button>
    <button id="hard" class="level">Hard</button>
    <button id="endless" class="level">Endless</button>
</div>
<div class="row justify-content-center">
    <p id="randomNumber" class="randomNumber"></p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <span id="83" class="braille inactive"></span>
        <span id="76" class="braille inactive"></span>
    </div>
    <div class="row justify-content-center">
        <span id="68" class="braille inactive"></span>
        <span id="75" class="braille inactive"></span>
    </div>
    <div class="row justify-content-center">
        <span id="70" class="braille inactive"></span>
        <span id="74" class="braille inactive"></span>
    </div>
</div>
<div class="row justify-content-center">
    <button id="clear">Clear (a)</button>    
    <button id="generateNext" autofocus>Enter (;)</button>
</div>
<br><br><br><br>
<p class="row justify-content-center">Accessibility Note: Please refrain from using [enter], [spacebar], or [click] to use interface. Please use keys a s d f j k l ;<p>
<img src="images/reference.jpg" style="width:500px;height:400px;border-radius:0%;float:center;margin-left:auto;margin-right:auto; display:block">


<script src="javascripts/index.js"></script>
