
<div class="container">

<div class="row justify-content-center"><span id="randomNumber">Press the 
<strong>;</strong> key to start!</span></div>
<div class="row justify-content-center"><button id="generateRand">Random</button></div>

<script src="javascripts/index.js"></script>
